#white {
    -fx-background-color: rgb(125, 125, 125);
}

#red {
    -fx-background-color: rgb(200, 50, 0);
}

#darkOrange {
    -fx-background-color: rgb(140, 80, 0);
}

#orange {
    -fx-background-color: rgb(220, 140, 0);
}

#darkYellow {
    -fx-background-color: rgb(190, 190, 0);
}

#yellow {
    -fx-background-color: rgb(255, 255, 0);
}

#green {
    -fx-background-color: rgb(20, 200, 20);
}

#darkGreen {
    -fx-background-color: rgb(0, 100, 0);
}

.border {
    -fx-border-width: 1px;
    -fx-border-color: rgb(0, 0, 0);
}

.borderless {
    -fx-border-color: transparent;
}