#navBackground {
    -fx-background-color: rgb(0, 0, 0);
}

#title {
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-size: 20pt;
}

.navButton {
    -fx-background-color: transparent;
    -fx-font-size: 16pt;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-border-color: rgb(200, 200, 200) rgb(200, 200, 200) transparent transparent;
}

.navButton:hover {
    -fx-background-color: rgba(100, 100, 100, 1);
}

.navButtonR {
    -fx-border-color: rgb(200, 200, 200) transparent transparent transparent;
}

.stopButton {
    -fx-background-color: rgb(150, 0, 0);
}

.stopButton:hover {
    -fx-background-color: rgb(200, 50, 50);
}

.playButton {
    -fx-shape: "M283.001,130.648C287.124,123.007 295.107,118.244 303.789,118.244C312.472,118.244 320.454,123.007 324.578,130.648C362.282,200.517 441.387,347.103 477.581,414.172C481.532,421.493 481.341,430.351 477.079,437.494C472.816,444.638 465.111,449.013 456.793,449.013C382.879,449.013 224.7,449.013 150.786,449.013C142.467,449.013 134.762,444.638 130.5,437.494C126.238,430.351 126.047,421.493 129.997,414.172C166.192,347.103 245.296,200.517 283.001,130.648Z";
    -fx-background-color: rgb(32,152,0);
    -fx-rotate: 90;
}

.playButton:hover {
    -fx-background-color: rgb(50, 200, 0);
}

.forwardButton {
    -fx-shape: "M461.463,443.065L316.028,506.725C309.845,509.431 302.713,508.836 297.064,505.143C291.414,501.45 288.009,495.156 288.008,488.406C287.999,430.218 287.979,304.194 287.97,246.005C287.969,239.256 291.373,232.961 297.021,229.266C302.669,225.571 309.8,224.974 315.984,227.678L461.44,291.293L461.433,246.005C461.432,239.256 464.835,232.961 470.483,229.266C476.132,225.571 483.263,224.974 489.447,227.678C550.285,254.286 694.753,317.469 766.472,348.835C773.752,352.019 778.457,359.211 778.458,367.157C778.459,375.102 773.757,382.295 766.478,385.481C694.769,416.87 550.32,480.098 489.49,506.725C483.307,509.431 476.176,508.836 470.526,505.143C464.877,501.45 461.471,495.156 461.47,488.406L461.463,443.065Z";
    -fx-background-color: rgb(32,152,0);
}

.forwardButton:hover {
    -fx-background-color: rgb(50, 200, 0);
}

.pauseButton {
    -fx-shape: "M715,200L840,200L840,600L715,600L715,200ZM440,600L440,200L565,200L565,600L440,600Z";
    -fx-background-color: rgb(200, 125, 0);
}

.pauseButton {
    -fx-shape: "M715,200L840,200L840,600L715,600L715,200ZM440,600L440,200L565,200L565,600L440,600Z";
    -fx-background-color: rgb(200, 150, 0);
}